<div>
  <div class="participants" *ngIf="participants">
    <div class="participant" *ngFor="let participant of participants">
        <participant [participant]='participant'></participant>
    </div>
  </div>
</div>
