﻿.participant {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  color: #4A4A4A;
  text-align: center;
}
@media (max-width: 1000px) {
  .participant{
    margin-top: 4%;
  }
}
