<div class="participant horse-racing">
  <div class="description">
    <div class="horse">
      {{participant.get('Name')}}
    </div>
  </div>


  <div class="odds">
    <div class="score">
      <ng-container *ngIf="participant.betNowUrl; then oddLink; else oddNoLink"></ng-container>
    </div>
  </div>
</div>

<ng-template #oddLink>
  <a [href]="participant.betNowUrl" target="_blank">{{odds}}</a>
</ng-template>
<ng-template #oddNoLink>
  {{odds}}
</ng-template>
