.scoreButton{
  background-color: #eaeaea;
  float: right;
  font-family: "Proxima Nova", sans-serif;
  font-size: medium;
  height: 33px;
  color: #5c5c5c;
  margin-top: 1%;
  &:hover{
    background-color: #004466;
    color: white;
  }
}

.imageColumn{
  height: 100px;
}
@media (max-width: 1000px) {
  .imageColumn{
    display: none;
  }
}
.carousel-inner{
  display: flex!important;
}
.item .active{
  display: contents;
}


.carousel-control {
  right: 0;
  left: auto;
  background-color: black!important;
}

.participant {
  width: 100%;
  display: flex;
  align-items: center;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  font-size: medium;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  .score {
    border-radius: 5px;
    background-color: #eaeaea;

    box-shadow: 0 1px 0 0 #b1b1b1;
    height: 32px;
    width: 150px;
    font-size: 15px;
    vertical-align: sub!important;
    cursor: pointer;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #5c5c5c;
    &:hover {
      color: #fff;
      background:#004466;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      border: 1px solid transparent;
      cursor: pointer;
    }
  }

  @media (max-width: 1000px) {
    .participant{
      margin-top: 5%;
    }
  }

  .horse{
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
  }
  @media (max-width: 1000px) {
    .horse{
      padding-left: 0!important;
      font-size: small;
    }
    .score{
      width: 60px;
    }
  }



  .name{
    padding-right: 10px;
  }

  .score a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;

  }
  .descriptionBlankButton{
    background-color: #2F83B8;
  }

  .participants-list{
    width: 50% !important;
  }

}
