<div [responsive-window]="'widget'">
  <div class="wgt-xs" *responsive="{ sizes: { window: 'widget', min: 1, max: 299} }">
    <ng-container *ngTemplateOutlet="tpl"></ng-container>
  </div>
  <div class="wgt-sm" *responsive="{ sizes: { window: 'widget', min: 300, max: 400} }">
    <ng-container *ngTemplateOutlet="tpl"></ng-container>
  </div>
  <div class="wgt-md" *responsive="{ sizes: { window: 'widget', min: 401, max: 860} }">
    <ng-container *ngTemplateOutlet="tpl"></ng-container>
  </div>
  <div class="wgt-lg" *responsive="{ sizes: { window: 'widget', min: 861, max: 3000} }">
    <ng-container *ngTemplateOutlet="tpl"></ng-container>
  </div>
  <ng-template #tpl><ng-content></ng-content></ng-template>
</div>
