<div class="participant football">

  <div class="description">
    <div class="name">
      {{participant}}
    </div>
  </div>
  <div class="odds">
    <div class="score">
      <ng-container *ngIf="participant.betNowUrl != null; then oddLink; else oddNoLink"></ng-container>
    </div>
  </div>


  <ng-template #oddLink>
    <a [href]="participant.betNowUrl" target="_blank">{{odds}}</a>

  </ng-template>
  <ng-template #oddNoLink>
    {{odds}}
  </ng-template>



</div>

