<responsive-wrapper>
  <div class="wgt-app-wrapper">
    <div class="wgt-outer-container" *ngIf="brokerData != null && eventData != null && eventData.sportName==='HORSERACING'">
      <horse-race-widget [broker]="brokerData" [eventData]="eventData" [columns]="columns" [secondMarket]="secondMarket"></horse-race-widget>
    </div>
    <div class="wgt-outer-container 2" *ngIf="brokerData != null && eventData != null && eventData.sportName==='FOOTBALL'">
      <horse-race-widget [broker]="brokerData" [eventData]="eventData" [columns]="columns" [secondMarket]="secondMarket"></horse-race-widget>
    </div>
    <div class="wgt-outer-container" *ngIf="brokerData != null && eventData == null">
      <missing-event-widget [broker]="brokerData"></missing-event-widget>
    </div>
  </div>
</responsive-wrapper>
