<!--The content below is only a placeholder and can be replaced.-->
<div>
  <linkbanner className="wgt-banner-wgt-lg" [broker]="broker" [bannerType]="'FallbackBannerDesktop'"></linkbanner>
</div>
