$height: 40px;
$height-wgt-lg: auto;


.wgt-banner-wgt-lg {
  height: $height-wgt-lg;
  max-width: 100%;
  width: 100%;
  display: table;
  img {
    max-height: 120px;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .wgt-banner{
    display: none;
  }
}
.wgt-banner {
  max-width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  max-height: 120px;
  height: 100%;
  float: right;
  &.wgt-bet-now {
    $height: 40px;
    height: $height;
    width: 130px;
    background-color: #004466;
    line-height: 40px;
    font-family: Proxima-Nova , sans-serif;

    a {
      height: 100%;
      position: relative;
      line-height: $height;
      color: #ffffff;
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
    }
  }
  a {
    display: flex;
    max-height: 100%;
  }
  img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    position: relative;
  }
}

:host-context(.wgt-xs),
:host-context(.wgt-sm) {
  .wgt-banner {
    max-width: 100%;
    &.copyright {
      display: block;
      margin-top: -40px;
    }
    &.wgt-banner-wgt-lg {
      max-width: 100%;
    }
  }
}
