<div [ngClass]="className" class="wgt-banner">
  <a [href]="href" target="_blank">
    <img  *ngIf="image" [src]="image" [alt]="title" [title]="title"  />
    <ng-content></ng-content>
  </a>

</div>
