:host {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  :host-context(.wgt-xs),
  :host-context(.wgt-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
