body {
  padding-top:70px;
}

.panel{
  -webkit-box-shadow: none!important;
  border-top: 0px solid transparent!important;

}

.panel-default{
  border-left: 10px solid #004466;
  border-bottom: none;
  border-right: none;
  border-radius: 0!important;
}

@media (min-width: 1000px) {
  .hamburgerMenuImage{
    width: 3%;
  }
}

.smallTitleTopBar{
  font-size: medium;
  padding-left: 3%;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}



.bigTitleTopBar{
  font-size: large;
  color: #5c5c5c;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  padding-left: 3%;
  line-height: 1.35;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}
.withBorder{
  border-left: 10px solid #004466;
}
a:hover{
  text-decoration: none!important;
}

@media (max-width: 700px) {
  @-moz-document url-prefix(){
    .menuItemDropdown{
      font-size: x-large;
      background: #e2e2e2;
      padding: 9px;
      cursor: pointer;
      &:hover{
        border: none;
      }
    }
  }
  .smallTitleTopBar{
    font-size: small;
  }
  .bigTitleTopBar{
    font-size: small;
  }
  .wgt-venue{
    font-size: small;
  }
  .withBorder{
    height: 82px;
  }
}
@media (max-width: 1020px) {
  .withBorder{
    height: 40px;
  }
}
@media (max-width: 350px) {
  .withBorder{
    height: 40px;
  }
}

.item{
  background: url('../../assets/images/bars.png') no-repeat right;
  cursor: pointer;
  margin-right: 5%;
}

p{
  margin: 1.5px;
}

.logoImage{
  float: right;
  padding-top: 3%;
}

.wgt-head {

  .wgt-headline {
    &.wgt-event {
      font-size: 14px;
      padding-bottom: 5px;
      span {
        &:first-child {
          position: relative;
          display: inline-block;
          padding-right: 50px;
        }
      }
    }

    &.wgt-venue {
      font-weight: bold;
    }
    &.wgt-market {
      font-size: 18px;
      text-align: center;
      padding-top: 5px;
    }
  }
}
:host-context(.wgt-xs),
:host-context(.wgt-sm) {
  .wgt-head {
    .wgt-headline {
      &.copyright-wgt-banner {
        display: block;
      }

      &.wgt-market {
        margin-top: 20px;
      }

      &.wgt-event {
        width: 70%;
      }

      &.copyright-wgt-banner {
        width: 30%;
        float: right;

        /deep/ .wgt-banner {
          img {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}
.panel{
  -webkit-box-shadow: none!important;
}
.panel-title{
  text-align: end;
}
.selectionName{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
  padding-left: 3%;

}
div{
  min-height: 0px!important;
}
.overlayContent {
  height: 0%;
  width: 100%;
  position: absolute;
  z-index: 2;
  //top: 38.5%;
  left: 0;
  background-color: whitesmoke;
  overflow-y: auto;
  transition: 0.5s;
  border-left: 10px solid #004466;

}
.overlayContentActive {
  height: 67%;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  background-color: whitesmoke;
  overflow-y: auto;
  transition: 0.5s;
  border-left: 10px solid #004466;

}
@media (max-width: 444px) {
  .overlayContent{
    //top: 36%;
  }
}
.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
}

.overlayContent a {
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlayContent a:hover, .overlayContent a:focus {
  color: #f1f1f1;
}

.overlayContent .closebtn {
  position: absolute;
  top: 0px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlayContent {overflow-y: auto;}
  .overlayContent a {font-size: 20px}
}
