<div class="wgt-head" [ngClass]="{'head-to-head': headToHead}">
    <div class="withBorder">
      <div class="row">
        <div class="col-xs-9 col-md-9">
          <div class="">

            <div *ngIf="event.sportName==='FOOTBALL'" >
              <p class="smallTitleTopBar">{{event.eventTime}}</p>
              <p class="bigTitleTopBar">{{event.eventName}}</p>
            </div>

            <div class="wgt-headline wgt-venue"  *ngIf="event.sportName === 'HORSERACING'">
              <p class="smallTitleTopBar">{{event.eventTime}}</p>
              <p class="bigTitleTopBar">{{event.get('Distance')}}
             {{event.get('Venue')}}</p>
            </div>
          </div>
        </div>
        <div class=" col-md-3" style="height: 60px" *ngIf="screenWidth > 1000">
          <linkbanner class="logoImage" [broker]="broker" [bannerType]="'LogoBannerDesktop'" style="padding-right: 10px"></linkbanner>
        </div>
        <div class="col-xs-3" *ngIf="screenWidth < 1000" style="padding-top: 2%">
          <linkbanner class="logoImage" [broker]="broker" [bannerType]="'LogoBannerMobile'" style="padding-right: 10px"></linkbanner>
        </div>

      </div>


        </div>


  <div class="panel-group" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-10 col-xs-10" style="padding-left: 0!important;">
            <p class="selectionName">{{_market.name}}</p>
          </div>
          <div class="col-md-2 col-xs-2" style="padding-right: 0!important;">
            <div class="test">
              <h4 class="panel-title" >

                <a data-toggle="collapse" class="withoutHover" (click)="toggleVisibility($event , event)">
                  <div class="item" id="toggler" >&nbsp;</div>
                </a>
              </h4>
            </div>


          </div>
        </div>


        </div>

    </div>

    <div [ngClass]="active == true ? 'overlayContentActive' : 'overlayContent'" id="toggle">
      <div class="overlay-content" >
          <other-markets  [markets]="event.markets" (onSelect)="setMarket($event)"></other-markets>
      </div>
    </div>
  </div>

    </div>
