.carousel-control{
  width: 30px;
  height: 100px;
  background-color: #f5f5f5;
}
a{
  cursor: pointer;
}
.row{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.smallText{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.mediumText{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.mainContainer{
  width: 100%;
  display: inline-block;
  align-items: center
}
.mainContainer1{
  width: 100%;
  display: inline-block;
  align-items: center
}
@media (max-width: 320px) {
  .mainContainer1{
    display: inline-block;
    align-items: center
  }
}
@media (max-width: 920px) {
  .mainContainer .mainContainer1{
    margin-left: 0% !important;
  }
}

.buttonUpDown{
  width: 80px;
  margin-right: 20px;
  font-family: "Proxima Nova", sans-serif;
  font-size: small;
  background-color: #eaeaea;
  color: #5c5c5c;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  &:hover{
    background-color: #004466;;
    color: white;
  }
}
.buttonUpDownSecond{
  width: 110px;
  //margin-right: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: small;
  background-color: #eaeaea;
  color: #5c5c5c;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  &:hover{
    background-color: #004466;;
    color: white;
  }
}
@media (max-width: 920px){
  .buttonUpDownSecond{
    width: 80px;
    float: right;
    margin-right: 14px;
  }

}

.participants-list{
  height: 120px;
  overflow-x: inherit;
}
@media (max-width: 1000px) {
  .participants-list{
    height: 160px;
  }
  .showBanner{
    display: none;
  }
}
.row {
  //margin-right: -15px !important;
  margin-left: -5px !important;
}
.carousel{
  height: 100px;
  display: block;
}
.participants-list {
  flex-wrap: nowrap;
  position: relative;justify-content: center;display: flex;text-align: end;overflow-x: inherit;
  .participants-col {
    /deep/ .match-head {
    }
  }
  .participants-col.default {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    width: 33%;
    float: left;
    &.second {
      padding-left: 15px;
    }
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 26px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    z-index: 1;
  }
  @media (max-width: 750px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
      width: 26px;
      height: 38px;
      margin-top: -15px;
      font-size: 16px;
      z-index: 1;
    }
  }

  .wgt-banner-col.default {
    -ms-flex-preferred-size: 51%;
    flex-basis: 32%;
    width: 51%;
    float: right;
    padding-bottom: 1%;
  }
  &.head-to-head {
    padding-bottom: 25px;
    width: 100%;
    display: table;
    .versus {
      width: 50%;
      position: relative;
      display: block;
      margin: auto;
      .line {
        width: 200%;
        left: -50%;
        height: 1px;
        background: #004466;
        position: absolute;
        top: 50%;
        margin: auto;
      transform: rotate(90deg);

      }
      @media (max-width: 600px) {
        .line{
          transform: rotate(90deg);
        }
      }
      @media (max-width: 2900px) {
        .line{
          transform: rotate(90deg);
        }
      }
      span {
        display: block;
        position: relative;
        color: #FFFFFF;
        font-family: "Proxima Nova", sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        width: 24px;
        height: 24px;
        background: #004466;
        border-radius: 20px;
        text-align: center;
        margin: auto;
      }
    }
    .participants-col {
      width: 40%;
      display: table-cell;
    }
    .participants-col.second {
      /deep/ .participant {
        flex-direction: row-reverse;
      }
    }
  }
}
.btn-default{
  border: none!important;
}
.rotate{
  background: url('../../assets/images/chevron-right.png') no-repeat center;
}
.rightArrow{
  background: url('../../assets/images/chevron-right.png') no-repeat center;
}

.undeContatainer{
  position: unset;text-align: right;


}
.undeContatainer1{
  position: unset;text-align: right;

}
@media (max-width: 320px) {
  .undeContatainer1{
    position: unset;text-align: right;
    padding-right: 0% !important;

  }
}

@media (max-width: 768px){

  .undeContatainer{
    display: grid;
    text-align: right;
    padding-left: 0%;
  }
  .undeContatainer1{
    position: unset;text-align: center;
    padding-left: 1%;
    display: grid;
  }
}
@media (max-width: 500px){

  .undeContatainer{
    display: grid;
    text-align: right;
    padding-top: 3px;
    padding-left: 0%;


  }
  .undeContatainer1{
    position: unset;text-align: center;
    display: grid;
    padding-right: 0% !important;
  }
}



.secondMarketItems{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #696969;
}
.carousel-control {
  background-color: #f5f5f5;
  opacity: 1;
  background-image: none !important;
  height: 85px;
}
.horseWidget{
  height: 110px;
}
@media (max-width: 1000px) {
  .horseWidget{
    height: 150px;
  }}
@media (max-width: 991px) {
  .col-xs-11{
    height: 33px
  }
  .secondMarketItems{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #696969;
    padding-top: 7px;
  }
  .carousel-control{
    height: 184px;
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 26px;
    height: 38px;
    margin-top: -15px;
    font-size: 16px;
  }
}

.two-columns {
  .participants-list {
    display: table;
    width: 33%;
    .participants-col.default {
      $first-column-width: 33%;
      $border-width: 1px;
      box-sizing: border-box;
      /deep/ .match-head {
        display: block;
        font-weight: bold;
      }
      &.first {
        padding-right: 15px;
        width: $first-column-width;
      }
      &.second {
        padding-left: 15px;
        width: calc(100% - #{$first-column-width} - #{$border-width});
        float: right;
        border-left: $border-width solid #ccc;
        /deep/ .participants > .participant {
          width: 33%;
          float: left;
          box-sizing: border-box;
          word-break: break-all;
          &:nth-child(2n) {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
.eventNameCorrectScore{
  font-weight: 600;
  font-size: medium;
  text-align: center;
  padding-top: 8px
}
.justyfiedContent{
  width: 99%;
  padding-left: 2%;
}
:host-context(.wgt-xs),
:host-context(.wgt-sm) {
  .participants-list {
    .participants-col.default {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      width: 100%!important;
      margin-right: 0;
    }
    &.head-to-head {
      padding-top: 0;
    }
  }
  .head-to-head {
    box-sizing: border-box;
    .participants-col {
      width: 100%;
      display: block;
      box-sizing: inherit;
    }
    .versus {
      padding: 12px 0;
      margin-top: -8px;
      margin-bottom: -8px;
      .line {
        width: 2px;
        height: 350%;
        top: -60px;
        left: 50%;
        margin-left: -1px;
      }
    }
    .participants-col.second {
      /deep/ .participant {
        flex-direction: inherit;
      }
    }
  }
}
