<div *ngIf="!headToHead && !CorrectScore && !HalfTime" [ngClass]="{'two-columns': columns === 2}">
  <ng-container *ngTemplateOutlet="defaultTpl"></ng-container>
</div>
<div *ngIf="headToHead">
  <ng-container *ngTemplateOutlet="headToHeadTpl"></ng-container>
</div>
<div *ngIf="CorrectScore">
  <ng-container *ngTemplateOutlet="correctTpl"></ng-container>
</div>

<ng-template #defaultTpl >
  <div class="participants-list" id="part" *ngIf="horse._market.event.sportName === 'FOOTBALL'">
    <div [ngClass]="horse.arrayResponseData.length < 4 ? 'mainContainer1':'mainContainer'" >
      <div  *ngIf="!hasBanner " [ngClass]="horse.arrayResponseData.length < 4 ? 'undeContatainer1' : 'undeContatainer'">
        <div *ngIf="hasBanner" style="    margin-right: 10px;">
          <div class="row" style="padding-right: 0;padding-left: 0">
            <div class="col-md-6 col-xs-12" style="padding-left: 0!important;">
              <div *ngFor="let item of horse.arrayResponseData | slice:0:3" style="height: 43px;">
                <div class="col-md-6 col-xs-6" style="padding-left: 0!important;">
                  <p class="secondMarketItems">{{item.name}}</p>
                </div>
                <div class="col-md-6 col-xs-6">
                  <a href="{{item.betNowUrl}}" target="_blank" type="button" class="btn  buttonUpDownSecond">{{item.currentPriceDown || 'SP'}} <span *ngIf="item.currentPriceDown != null">/</span> {{item.currentPriceUp}}</a>
                </div>

              </div>
            </div>
            <div class="wgt-banner-col hidden-wgt-sm showBanner" style="float: left!important;" *ngIf="hasBanner">
              <ng-container *ngTemplateOutlet="participantsBannerCol"></ng-container>
            </div>
          </div>

        </div>
        <div>
          <div [ngClass]="screenWidth < 1000 ? '' : ' '">
            <div class="" style="margin-left: 3%">
              <div [ngClass]="screenWidth < 1000 ? 'row justyfiedContent' : 'row'">
                <div class="col-md-6 col-xs-12"  *ngFor="let item of horse.arrayResponseData|slice:pager.startIndex : pager.endIndex + 4">

                  <div class="row">
                    <div class="col-md-5 col-xs-8" style="text-align: left;padding-top: 5px;">
                      <span [ngClass]="screenWidth < 500 ? 'smallText' : 'mediumText'">{{item.name}}</span>
                    </div>
                    <div class="col-md-5 col-xs-4" >
                      <a class="btn  buttonUpDownSecond" href="{{item.betNowUrl}}" target="_blank" style="margin-right: 10px">
                        {{item.currentPriceDown || 'SP'}} <span *ngIf="item.currentPriceDown != null">/</span> {{item.currentPriceUp}}
                      </a>
                    </div>
                  </div>
                  <br>
                </div>

                <button class="btn btn-default left carousel-control " [ngClass]="{disabled:pager.currentPage === 1}" style="border: none!important;transform: rotate(180deg)"  id="sliderPrev" data-slide="prev" (click)="setPage(pager.currentPage - 2)" *ngIf="horse.arrayResponseData.length >= 4">
                  <span class="rotate">&nbsp;</span>

                </button>
                <button class="btn btn-default right carousel-control " [ngClass]="{disabled:pager.currentPage === pager.totalPages}" style="border: none!important;" id="sliderRight" data-slide="next" (click)="setPage(pager.currentPage + 2)" *ngIf="horse.arrayResponseData.length >= 4">
                  <span class="rightArrow">&nbsp;</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="text-center horseWidget" *ngIf="horse._market.event.sportName === 'HORSERACING'" style="position: relative">

  <div [ngClass]="horse.arrayResponseData.length < 4 ? 'mainContainer1':'mainContainer'" >
    <div class="col-md-6 col-xs-11"   *ngFor="let item of horse.arrayResponseData|slice:pager.startIndex : pager.endIndex + 4">
      <div class="row" >
        <div class="col-md-12 col-xs-8" style="text-align: center;padding-top: 5px;">
          <span [ngClass]="screenWidth < 500 ? 'smallText' : 'mediumText'">{{item.name}}</span>
        </div>
        <div class="col-md-12 col-xs-4" >
          <a class="btn  buttonUpDownSecond" href="{{item.betNowUrl}}" target="_blank">
            {{item.currentPriceDown || 'SP'}} <span *ngIf="item.currentPriceDown != null">/</span> {{item.currentPriceUp}}
          </a>
        </div>
      </div>
      <br>
    </div>
    <button class="btn btn-default left carousel-control " [ngClass]="{disabled:pager.currentPage === 1}" style="border: none!important;transform: rotate(180deg);height: 137px!important;"  data-slide="prev" (click)="setPage(pager.currentPage - 4)" *ngIf="horse.arrayResponseData.length >= 4">
      <span class="rotate">&nbsp;</span>

    </button>
    <button class="btn btn-default right carousel-control " [ngClass]="{disabled:pager.currentPage === pager.totalPages}" style="border: none!important;height: 137px!important;"  data-slide="next" (click)="setPage(pager.currentPage + 4)" *ngIf="horse.arrayResponseData.length >= 4">
      <span class="rightArrow">&nbsp;</span>
    </button>
  </div>
  </div>
</ng-template>

<ng-template #correctTpl>
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <p class="eventNameCorrectScore" >{{eventName}}</p>
    </div>
    <div class="col-md-4 col-xs-6">
      <div class="text-center">
        <div class="form-group" >
          <select class="form-control" id="sel1" (change)="changeSelectionsName()"  [(ngModel)]="selectedValue">
            <option *ngFor="let item of horse.arrayResponseData"   [ngValue]="item" [selected]="item" > {{item.name}}</option>

          </select><br>
          <div class="text-center">
            <a *ngIf="selectedValue != ''" href="{{redirectLink}}" target="_blank"  type="button" class="btn btn-default" style="background-color: #004466;color: white;padding: 3px 30px;font-size: medium;font-family: 'Proxima Nova', sans-serif">{{downTo}}/{{upTo}}</a>

          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #headToHeadTpl>
  <div class="participants-list head-to-head">
    <div class="participants-col first">
      <ng-container *ngTemplateOutlet="participantsCol1"></ng-container>
    </div>
    <div class="versus">
      <div class="line"></div>
      <span>vs</span>
    </div>
    <div class="participants-col second">
      <ng-container *ngTemplateOutlet="participantsCol2"></ng-container>
    </div>
  </div>
</ng-template>


<ng-template #participantsCol1><ng-content select="[col-1]"></ng-content></ng-template>
<ng-template #participantsCol2><ng-content select="[col-2]"></ng-content></ng-template>

<ng-template #participantsBannerCol><ng-content select="[banner-col]"></ng-content></ng-template>
