﻿@import "../node_modules/flexboxgrid/css/flexboxgrid.min.css";
@import "../src/app/app.component.scss"; /* You can add global styles to this file, and also import other style files */

/* Reset & Basics -------------------------------------------------------------------- */
div[sport] html,
div[sport] body,
div[sport] div,
div[sport] span,
div[sport] applet,
div[sport] object,
div[sport] iframe,
div[sport] h1,
div[sport] h2,
div[sport] h3,
div[sport] h4,
div[sport] h5,
div[sport] h6,
div[sport] p,
div[sport] blockquote,
div[sport] pre,
div[sport] a,
div[sport] abbr,
div[sport] acronym,
div[sport] address,
big, div[sport]
cite, div[sport]
code, div[sport]
del, div[sport]
dfn, div[sport]
em, div[sport]
img, div[sport]
ins, div[sport]
kbd, div[sport]
q, div[sport]
s, div[sport]
samp, div[sport]
small, div[sport]
strike, div[sport]
strong, div[sport]
tt, div[sport]
var, div[sport]
b, div[sport]
u, div[sport]
i, div[sport]
center, div[sport]
ol, div[sport]
ul, div[sport]
li, div[sport]
fieldset, div[sport]
form, div[sport]
label, div[sport]
legend, div[sport]
table, div[sport]
caption, div[sport]
tbody, div[sport]
tfoot, div[sport]
thead, div[sport]
tr, div[sport]
th, div[sport]
td, div[sport]
article, div[sport]
aside, div[sport]
canvas, div[sport]
details, div[sport]
embed, div[sport]
figure, div[sport]
figcaption, div[sport]
footer, div[sport]
header, div[sport]
hgroup, div[sport]
menu, div[sport]
nav, div[sport]
output, div[sport]
ruby, div[sport]
section, div[sport]
summary, div[sport]
time, div[sport]
mark, div[sport]
audio, div[sport]
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

div[sport] article, div[sport]
aside, div[sport]
details, div[sport]
figcaption, div[sport]
figure, div[sport]
footer, div[sport]
header, div[sport]
hgroup, div[sport]
menu, div[sport]
nav, div[sport]
section {
  display: block;
}

div[sport] body {
  line-height: 1;
}

div[sport] ol,
div[sport] ul {
  list-style: none;
}

div[sport] blockquote,
div[sport] q {
  quotes: none;
}

  div[sport] blockquote:before, div[sport]
  blockquote:after, div[sport]
  q:before, div[sport]
  q:after {
    content: '';
    content: none;
  }

div[sport] table {
  border-collapse: collapse;
  border-spacing: 0;
}

div[sport] html, div[sport]
body, div[sport]
div, div[sport]
span, div[sport]
applet, div[sport]
object, div[sport]
iframe, div[sport]
h1, div[sport]
h2, div[sport]
h3, div[sport]
h4, div[sport]
h5, div[sport]
h6, div[sport]
p, div[sport]
blockquote, div[sport]
pre, div[sport]
a, div[sport]
abbr, div[sport]
acronym, div[sport]
address, div[sport]
big, div[sport]
cite, div[sport]
code, div[sport]
del, div[sport]
dfn, div[sport]
em, div[sport]
img, div[sport]
ins, div[sport]
input, div[sport]
kbd, div[sport]
q, div[sport]
s, div[sport]
samp, div[sport]
small, div[sport]
strike, div[sport]
strong, div[sport]
sub, div[sport]
sup, div[sport]
tt, div[sport]
var, div[sport]
b, div[sport]
u, div[sport]
i, div[sport]
center, div[sport]
dl, div[sport]
dt, div[sport]
dd, div[sport]
ol, div[sport]
ul, div[sport]
li, div[sport]
fieldset, div[sport]
form, div[sport]
label, div[sport]
legend, div[sport]
table, div[sport]
caption, div[sport]
tbody, div[sport]
tfoot, div[sport]
thead, div[sport]
tr, div[sport]
th, div[sport]
td, div[sport]
article, div[sport]
aside, div[sport]
canvas, div[sport]
details, div[sport]
embed, div[sport]
figure, div[sport]
figcaption, div[sport]
footer, div[sport]
header, div[sport]
hgroup, div[sport]
menu, div[sport]
nav, div[sport]
output, div[sport]
ruby, div[sport]
section, div[sport]
summary, div[sport]
time, div[sport]
mark, div[sport]
audio, div[sport]
video {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: normal;
  color: initial;
}

/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/

div[sport] .btn {
  border-radius: 0px;
}
