<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="race" [ngClass]="{'head-to-head': isHeadToHead, 'two-columns': columns === 2}">
  <headline
    [event]="race"
    [(market)]="market"
    [broker]="broker"
    (onMarketChanged)="setMarket($event)">
  </headline>
  <div loading *ngIf="market == null">
    Loading
  </div>
  <participants-list
    [CorrectScore]="isCorrectScore"
    [columns]="columns"
    [hasBanner]="race.promoBannerTextMessage"
    *ngIf="isCorrectScore">
  </participants-list>

  <participants-list
    [columns]="columns"
    [headToHead]="isHeadToHead"
    [hasBanner]="race.promoBannerTextMessage"
    *ngIf="!isCorrectScore">
    <div col-1>
    <div class="match-head" *ngIf="market2">{{market2.name}}</div>
      <selections-panel
        [participants]='participants1'>
      </selections-panel>
    </div>
    <div col-2>
      <div class="match-head" *ngIf="market2">{{market2.name}}</div>
      <selections-panel
        [participants]='participants2'>
      </selections-panel>
    </div>
    <promobanner
      banner-col
      *ngIf="race.promoBannerTextMessage"
      [broker]="broker"
      [bannerType]="'PromoBannerDesktop'"
      [eventPromoText]="race.promoBannerTextMessage">
    </promobanner>
  </participants-list>
  <br><br>
<banners-list class="wgt-footer-banners">
    <linkbanner [broker]="broker" ></linkbanner>
    <div class="row" style="width: 100%;margin-left: 0px;margin-right: 0px">
      <div class="col-xs-6 col-md-8 " style="display: flex" *ngIf="screenWidth > 1000">
        <linkbanner [broker]="broker" [bannerType]="'FreeBetBannerDesktop'" style="margin-left: 5%"></linkbanner>
      </div>
      <div class="col-xs-6 col-md-8 " style="display: flex" *ngIf="screenWidth < 1000">
        <linkbanner [broker]="broker" [bannerType]="'FreeBetBannerMobile'" style="margin-left: 5%"></linkbanner>
      </div>
      <div class="col-xs-6 col-md-4" style="padding-left: 0!important;padding-right: 0!important;">
        <banner [href]="race.betNowRedirectUrl" [className]="'wgt-bet-now'">
          BET NOW >
        </banner>
      </div>
    </div>
  </banners-list>
  <br>
</div>
