$panel-width-default: 70%;
$panel-width-wgt-sm: 90%;
$panel-width-wgt-xs: $panel-width-wgt-sm;
$wgt-toggle-width: 51px;
$wgt-toggle-height: 51px;
$wgt-toggle-size: 25px;
$arrow-color: white;
$arrow-height: 6px;
$arrow-width: 7px;
$heading-height: 10%;


.item{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
}

.dropdownItem{
  font-style: normal;
  font-stretch: normal;
  line-height: 2.42;
  letter-spacing: normal;
  text-align: left;
  padding-left: 3%;
}
p {
  margin: 0 0 0px;
}
.item .dropdownItem:hover{
  background-color: #004466;
  color: white;
  cursor: pointer;
}
.grey{
  background-color: #e2e2e2!important;
}
.white{
  background-color: #e7e7e7!important;
}

.wgt-other-markets {
  .wgt-slide-panel {
    width: $wgt-toggle-width;
    max-width: 600px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    &.active {
      width: $panel-width-default;
    }
    .wgt-toggle {
      position: absolute;
      top: 50%;
      left: 0;
      height: $wgt-toggle-width;
      width: 75px;
      margin-top: -$wgt-toggle-size;
      background: url('../../assets/images/bars.png')
      no-repeat center center;
      &:hover, &:active {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .wgt-overlay {
      position: absolute;
      height: 100%;
      left: 0;
      box-sizing: border-box;
      .wgt-overlay-content {
        position: relative;
        height: 100%;
        margin-left: $wgt-toggle-width;
        min-width: 100px;
        padding: 15px;
        box-sizing: border-box;
        background: radial-gradient(circle, rgba(86, 198, 238, 0.878) 0%, rgba(64, 114, 131, 0.9) 100%);
      }
      .heading {
        height: $heading-height;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        justify-content: center;
        margin: auto auto 10px;
      }
      .list {
        overflow-y: auto;
        max-height: 100% - $heading-height;
        margin: 0;
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          background-color: rgba(245, 245, 245, 0.45);
        }
        &::-webkit-scrollbar {
          width: 6px;
          background-color: rgba(245, 245, 245, 0.45);
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

:host-context(.wgt-sm) {
  $panel-width: 90%;
  .wgt-slide-panel {
    max-width: 100%;
    &.active {
      width: $panel-width;
    }
  }
}

:host-context(.wgt-xs) {
  .wgt-slide-panel {
    max-width: 100%;
    &.active {
      width: $panel-width-wgt-xs;
    }
    .wgt-overlay {
      .list {
        .item {
          min-width: 100%;
        }
      }
    }
  }
}


:host-context(.wgt-sm),
:host-context(.wgt-xs) {

}
/deep/ .wgt-sm > .wgt-app-wrapper,
/deep/ .wgt-xs > .wgt-app-wrapper {
  /deep/ .two-columns {
    /deep/ .wgt-other-markets {
      .wgt-slide-panel {
        max-width: 100%;
        width: 100%;
        height: $wgt-toggle-width;
        bottom: 0;
        top: auto;
        &.active {
          height: 100%;
          width: 100%;
          padding-bottom: 15px;
          box-sizing: border-box;
        }
        .wgt-toggle {
          //transform: rotate(90deg);
          //left: 50%;
          top: auto;
          bottom: 0;
          margin-top: 0;
          margin-left: -$wgt-toggle-width/2;
          &.active {
            top: -$wgt-toggle-width * 2;
            bottom: auto;
          }
        }
        .wgt-overlay-content {
          margin-left: 0!important;
          margin-top: $wgt-toggle-width;
        }
      }
    }
  }
}
