 <div class="wgt-toggle" [ngClass]="{active: active}" (click)="toggleVisibility()">

 </div>
          <div id="toggle"
            class="item col-wgt-xs-6"
            *ngFor="let market of markets; let i = index"
            (click)="onSelect.emit(market)" [ngClass]="i%2? 'grey':'white'">
            <p class="dropdownItem" >{{market.name}}</p>
          </div>
